.content {
    margin-top: 200px;
    display: flex;
    gap: 50px;
}

.content-left {
    height: auto;
    margin-bottom: 30px;
}

.book-container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    gap: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.book-image {}

.book-image img {
    max-width: 100%;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.book-info {
    flex: 1;
}

.book-info .price {
    color: #e53935;
    font-size: 35px;
    font-weight: 600;
}

.book-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.review {
    margin-left: 10px;
    font-size: 14px;
}


.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.actions select {
    padding: 6px 10px;
    font-size: 16px;
}

.cart-btn {
    background: #e53935;
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.buy-btn {
    background: #e53935;
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
}

.buy-btn:hover,
.cart-btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}


.like-btn {
    background: white;
    border: 1px solid #ddd;
    padding: 4px 8px;

    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
}

.like-btn:hover {
    background-color: #e53935;
    color: white;
}

.extra-info p {
    margin: 5px 0;
    font-size: 15px;
}

.status {
    color: green;
    font-weight: bold;
}



/* --------------- Content right ---------------- */
a {
    text-decoration: none;
    color: #000000;
}

.content-right {
    margin-bottom: 30px;
}

.content-right p {
    margin-bottom: 15px;
    color: #e53935;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.content-right {
    flex: 1;
    min-width: 25%;
    font-weight: 600;
}

hr {
    border: 1px solid #c2c5c4;
}

.product-item {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.categories-list,
.product-outstanding {
    border: 1px solid #000000;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    list-style: none;
}

.categories-list {
    margin-bottom: 20px;
}

.categories-list .category-item {
    margin-left: 10px;
    border-bottom: 1px solid #c2c5c4;
    margin-bottom: 10px;
}

.product-thumb {
    width: 100px;
    height: 100px;
}

.product-thumb img {
    width: 100px;
    height: 100px;
}


@media (max-width: 1024px) and (min-width: 744px) {
    .content {
        margin: 180px 50px 0px;
        padding: 0;
        display: block;
    }

    .cart-btn,
    .buy-btn {
        font-size: 10px;
    }

    .book-container {
        /* display: block; */
    }

    .book-info h2 {
        font-size: 18px;
    }

    .book-info .price {
        font-size: 25px;
    }
}

@media (max-width: 743px) {
    .content {
        display: block;
        margin-top: 150px;
        padding: 0;
    }
    .book-container{
        display: block;
    }
}