/* ----------------- Content ----------------- */
.content {
    margin: 150px auto 50px;
    padding: 20px;
    min-height: calc(50vh - 60px);
}

.account-page {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 30px;
}

.sidebar {
    width: 220px;
    padding-right: 30px;
    border-right: 1px solid #eee;
}

.sidebar h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #111;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.sidebar li {
    margin-bottom: 8px;
    color: #777;
    cursor: pointer;
}

.sidebar li.active {
    color: #e53935;
    font-weight: bold;
}

.profile-form {
    flex: 1;
    padding-left: 30px;
}

.profile-form h2 {
    color: #e53935;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #555;
}

.form-group input {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #f6f6f6;
    margin: 10px 0px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.cancel-btn {
    background: transparent;
    border: none;
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.save-btn {
    background: #e53935;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}