/* Reset CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-weight:300; */
    font-style: normal;
}

html {
    background-color: #e0e0e0;
}




/* Wrapper */

#wrapper {
    width: 100%;
    height: 850px;
}

.header-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

#topbar {
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

#topbar>.text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

#topbar>.text>.shop-now {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 550;
}

#topbar>.text>p {
    color: #fff;
    font-size: 12px;
    line-height: 50px;
    margin-right: 30px;
}

#topbar .btnRegister-Login {
    display: flex;
    /* align-items: center; */
    /* margin: 0 10px; */
    gap: 10px;
}

#topbar .btnRegister-Login {
    margin-right: 200px;
}

#topbar .btnRegister-Login .btnIO a {
    margin: 0 10px;
}

#topbar .btnRegister-Login .btnIO,
#topbar .btnRegister-Login .btnIO a {
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

#topbar .btnRegister-Login .btnIO a:hover {
    text-decoration: underline;
}


#header {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

#header #bar {
    display: none;
}

#header .logo img {
    width: 200px;
    margin-left: 200px;
}

#menu {
    display: flex;
    align-items: center;
}

#menu .item {
    margin: 0 20px;
}

#menu .item a {
    color: #626A67;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s ease;
}

#menu .item a:hover,
#menu .item a.active {
    color: rgb(235, 69, 69);
}

#menu .item a.active::after,
#menu .item a:hover::after {
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background-color: rgb(235, 69, 69);
    bottom: -4px;
    left: 20px;
}


#action {
    display: flex;
    margin-right: 200px;
}

#action .item {
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #626a67;
    font-size: 20px;
}

#action .item:hover {
    background-color: #626A67;
    color: #ffffff;
}

.banner {
    background-image: url('/assets/img/banner/banner.jpg');
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 135px;
    display: flex;
}

.banner .box-left {
    width: 50%;
}

.banner h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #424644;
}



.banner .box-left p {
    font-size: 20px;
    color: #424644;
    margin-bottom: 30px;
    font-weight: 400;
}

.banner button {
    background-image: url('/assets/img/button/button.png');
    background-color: transparent;
    color: #424644;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 2s ease;
    font-weight: 600;
}

.banner button:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    bottom: -4px;
    left: 0;
}

#deals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 100px;
    background-color: #fff
}

.deal {
    flex: 1 1 200px;
    max-width: 300px;
}

.deal img {
    width: 60px;
    height: 60px;
}

.deal img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.deal .text {
    margin-top: 5px;
}

#deals .deal {
    display: flex;
    gap: 20px;
    padding: 0 20px
}


/* Content */
.categories,
.best-selling,
.text-red>.read-more {
    color: #e53935;
    font-weight: bold;
}

.categories-title,
.selling-title,
.document {
    font-size: 28px;
    font-weight: 600;
}

/* Categories */

.categories-header {
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    gap: 50px;
}

.categories-header>.left-label {
    margin-left: 200px;
}

.categorie {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 32px 24px 16px 24px;
    text-align: center;
    width: 200px;
    transition: box-shadow 0.2s, background 0.2s;
    display: block;
}

.categorie img {
    width: 60px;
    height: 120px;
    object-fit: contain;
}

.categorie .text h4 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.categories-header .left-label {
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.categorie:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #e53935;
    color: #fff;
    cursor: pointer;
}

.categorie:hover .text h4 {
    color: #fff;
}

.categorie:hover img {
    filter: brightness(0) invert(1);
}




/* Best Selling Products */

.bestSelling-header {
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 50px;
}

.bestSelling-header>.left-label {
    margin-left: 200px;
}

ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px 250px;
}

ul.products li {
    flex-basis: 25%;
    padding: 30px 50px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

ul.products li img {
    width: 80%;
    height: 200px;
    object-fit: contain;
    /* background-color: #f5f4f4; */
    transition: transform 0.3s ease;
    display: block;
    margin: 0 auto;
}

ul.products li:hover img {
    transform: scale(1.12);
}

ul.products li .product-top .product-thumb {
    background-color: #fff;
}

ul.products li .product-top .product-thumb,
ul.products li .product-top .product-thumb img {
    display: block;
    border-radius: 12px;
}

.fa-solid.fa-cart-plus {
    color: #626A67;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 13px;
    background: white;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 2;
}

.fa-solid.fa-cart-plus:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #515050;
    color: #fff;
    cursor: pointer;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #515050;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -46px;
    opacity: 0.85;
    font-weight: 600;
}

ul.products li:hover a.buy-now {
    bottom: 0px;
    transform: translateY(-0px);
    transition: all 0.3s ease-in-out;
}

ul.products li .product-info {
    margin-left: 2px;
}

ul.products li .product-info a.product-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 2px;
}

ul.products li .product-info .price-star {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.price-star>.stars {
    margin-left: 10px;
    color: #515050;
    font-weight: 600;
}





/* Feature footer */
.feature-footer {
    background-color: #fff;
}
.feature-footer ul{
    display: flex;
    margin: 50px 0;
    padding: 50px 0;
    margin: 0 250px;
}
.feature-item {
    justify-content: center;
    display: flex;
    width: 33.33%;
    border-radius: 20px;
    margin: 0 20px;
}
.feature-item.item1 {
    background-color: rgb(248, 233, 233);
}
.feature-item.item2 {
    background-color: rgb(212, 229, 193);
}
.feature-item.item3 {
    background-color: rgb(196, 225, 244);
}

.feature-item .text-left {
    width: 50%;
    padding: 20px;
}

.feature-item .text-left .text-title {
    font-size: 15px;
    font-weight: 600;
    color: #626A67;
}

.feature-item .text-left .text-content {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.feature-item .text-left .text-content:hover {
    transform: translateX(10px);
    transition: color 0.3s ease;
}

.feature-item .text-left .text-content {
    transition: transform 0.3s ease;
}

.feature-item .text-left .watch-now {
    text-decoration: none;
    color: #626A67;
    font-weight: 600;
    cursor: pointer;
}

.feature-item .text-left .watch-now:hover {
    text-decoration: underline;
}

.feature-item .text-left .watch-now:hover .fa-arrow-right {
    display: inline-block;
    transform: translateX(15px);
    transition: transform 0.3s;
}

.feature-item .text-left .watch-now .fa-arrow-right {
    display: inline-block;
    transition: transform 0.3s;
    margin-left: 5px;
}

.feature-item .image-right img {
    width: 150px;
    height: 150px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.feature-item .image-right img:hover {
    transform: scale(1.12);
}




/* Post-outstanding */
.post-outstanding>.left-label {
    margin-left: 200px;
    margin-top: 50px;
}

.post-outstanding .post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px 250px;
}

.post-outstanding .post-list li {
    flex-basis: 50%;
    padding: 30px 50px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.post-outstanding .post-list .post-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.post-outstanding .post-list .post-content .text-content {
    width: 180%;
    padding: 5px;
}

.post-outstanding .post-list li img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 15px;
}

.post-outstanding .post-list li:hover img {
    transform: scale(1.12);
}

.post-content .text-content .name-title {
    font-size: 16px;
    font-weight: bold;
    color: #e53935;
    margin-bottom: 10px;
}

.post-content .text-content .description {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #111;
}

.post-content .text-content .read-more {
    text-decoration: none;
    color: #111;
    cursor: pointer;
    font-size: 16px;
}

.post-content .text-content .read-more:hover .fa-arrow-right {
    display: inline-block;
    transform: translateX(15px);
    transition: transform 0.3s;
}

.post-content .text-content .read-more .fa-arrow-right {
    display: inline-block;
    transition: transform 0.3s;
    margin-left: 5px;
}




/* Footer */

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #333;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}