/* ------------------------ Content ------------------------ */
.content {
    margin: 150px 20px 50px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.breadcrumb {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

    .breadcrumb span {
        font-weight: bold;
        color: #000;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0 30px;
    background-color: rgb(245, 245, 245);
}

th,
td {
    text-align: center;
    padding: 10px;
    /*border: 2px solid #000;*/
    padding: 15px;
}

img {
    border-radius: 4px;
}

input.quantity {
    width: 60px;
    text-align: center;
}

button.remove-item {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
}


.cart-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.secondary-btn {
    padding: 10px 20px;
    border: 1px solid #000;
    background: rgb(245, 245, 245);
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
}

    .secondary-btn:hover{
        background-color: #e63946;
        color: white;
        border: none;
        transition: 0.3s ease-in-out;
    }

.bottom-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    margin-bottom: 50px;
}

/*.coupon-box {
    display: flex;
    gap: 10px;
    height: 50%;
}*/

    .coupon-box input {
        padding: 10px;
        flex: 1;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.select-payment-method {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-method {
    margin-top: 20px;
}


.primary-btn {
    padding: 10px 20px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-summary {
    flex: 0 1 40%;
    border: 2px solid #000;
    padding: 20px 40px;
    border-radius: 4px;
    background: rgb(245, 245, 245);
}

    .cart-summary h3 {
        margin-bottom: 20px;
        font-weight: 600;
    }

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .summary-item.total {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 20px;
    }

hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 15px 0;
}

.primary-btn.full {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-decoration: none
}

/* ----------------- Responsive ----------------- */

@media (max-width: 768px) {
    .bottom-section {
        flex-direction: column;
        margin: 0 30px;
    }

    .coupon-box {
        width: 60%;
    }

    .col-img {
        display: none;
    }

    table {
        font-size: 12px;
    }
}

@media (max-width: 472px) {
    .product img {
        display: none;
    }

    .product span {
        margin-left: 10px;
    }
}
