/* ------------------------ Content ------------------------ */
.content-left {
    width: 100%;
    height: calc(100vh - 135px);
}

.content {
    padding: 30px 50px 10px;
    font-family: Arial, sans-serif;
    min-height: calc(50vh - 60px);
    margin: 150px 200px 50px;
}

.wishlist-header,
.section-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-add-all,
.btn-see-all {
    padding: 10px 20px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
}

    .btn-add-all:hover,
    .btn-see-all:hover {
        background-color: #e53935;
        color: white;
        border: none;
        transition: 0.3s ease-in-out;
    }

.section-label .dot {
    width: 10px;
    height: 30px;
    background-color: #e53935;
    border-radius: 4px;
    margin-right: 10px;
}

.section-label h3 {
    color: #e53935;
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 10px 0px;
    list-style: none;
    padding: 0;
}

    .product-list li:hover .add-to-cart {
        bottom: 0px;
    }

.product-card {
    flex: 1 1 calc(20% - 25px);
    position: relative;
    text-align: center;
    overflow: hidden;
    max-width: calc(20% - 25px);
}

.product-img {
    padding: 25px 0px;
    position: relative;
    text-align: center;
    border-radius: 8px;
    background: rgb(245, 245, 245);
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.product-info {
    text-align: left;
}

.product-card .product-thumb {
    display: block;
}

.product-card img {
    display: block;
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.product-card:hover img {
    transform: scale(1.12);
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #e53935;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 2;
}

    .label.new {
        background: #00c853;
    }

.add-to-cart {
    background: #333;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    position: absolute;
    width: 100%;
    bottom: -100px;
    transition: 0.3s ease-in;
}

.price {
    margin: 10px 0;
    color: #e53935;
    font-weight: 600;
    font-size: 15px;
}

    .price del {
        color: gray;
        margin-left: 8px;
        font-weight: normal;
    }

.stars {
    font-size: 14px;
    color: rgb(255, 173, 51);
}

.fa-regular.fa-trash-can,
.fa-regular.fa-eye {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}

    .fa-regular.fa-trash-can:hover,
    .fa-regular.fa-eye:hover {
        color: #fff;
        background-color: #e53935;
    }

.price-star > .stars {
    margin-left: 10px;
    color: #515050;
    font-weight: 600;
}





/* ----------------- Responsive --------------- */
/* Tablet */
@media (max-width: 1024px) and (min-width: 744px) {
    .content {
        margin: 150px 50px;
    }
}


/* Mobile */
@media (max-width: 743px) {

    /* Banner */
    .banner .box-left {
        width: 100%;
        margin: -50px -50px;
        margin-top: -200px;
    }

    .banner h2 {
        font-size: 15px;
        margin: 0;
        padding: 10px 0;
    }


    .content {
        margin: 150px 20px;
    }


    .product-card {
        flex: 1 1 calc(50% - 25px);
    }
}
